<body>
  <h1>Go, enter your data!</h1>
  <form action="/addData546" method="POST">
    <input
      type="text"
      ,
      name="jobName"
      ,
      placeholder="Enter Job Name"
      ,
      required
    />
    <input
      type="number"
      ,
      name="partId"
      ,
      placeholder="Enter part ID"
      ,
      required
    />
    <input
      type="number"
      ,
      name="qty"
      ,
      placeholder="Enter the quantity"
      ,
      required
    />
    <button>Submit</button>
  </form>
  <br />
  <form action="/">
    <button>Home</button>
  </form>
  <br />
  <form action="/viewData546">
    <button>View Data</button>
  </form>
  <br />
  <form action="/editData546">
    <button>Edit Data</button>
  </form>
</body>
